<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <File name="file" fileName="log.log">
            <!--  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%msg%n"/>
        </File>
        <Console name="console">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARNING">
            <AppenderRef ref="file" level="WARNING"/>
            <AppenderRef ref="console" level="WARNING"/>
        </Root>
    </Loggers>
</Configuration>